{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'hhomestyle.css' %}">
    <title>pets world</title>
</head>

<body>
    <div class="example">
        <div class="container">
            <div class="opacity" style="background-color: rgba(0, 0, 0, 0);height:100%;">
                <div class="navbar">
                    <!-- LOGO -->
                    <img src="project_20211231_1802130-01 (1).png"></img>
                    <!-- NAVIGATION MENU -->
                    <ul class="nav-links">
                        <!-- USING CHECKBOX HACK -->
                        <input type="checkbox" id="checkbox_toggle" />
                        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                        <!-- NAVIGATION MENUS -->
                        <div class="menu">
                            <li style="width:0;height:0px;"></li>
                            <li class="current"><a href="home.html">home</a></li>
                            <li><a href="info.html">info</a></li>

                            <li><a href="index.html">adopt a pet</a></li>
                            <li><a href="blog3.html">blogs</a></li>
                            <li><a href="/singup.html">login</a></li>
                            <li><a href="about us.html">about us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </div>
                    </ul>
                </div>
                <spam style=" position:relative;top: 5vh;left:15%;justify-content: center;align-items: center;">

                    <div class="div3 ">
                        <div class="ex">WELCOME</div>
                        <div class="gold "></div>


                        <div class="animation">
                            <B><div class="animate " data-text="petsworld...">petsworld...</div></B>
                        </div>
                        </br>

                        <div style="color:black;font-size:19px; margin-top: 0; width:60vh; position:relative;  ">Proper pet care is the basis of responsible pet ownership. It is important when you adopt a pet to understand it is a lifetime commitment to a furry family member that depends on you forhis or her health and well-being. Happily,the
                            unconditional love and joy that pets bring to our lives more than makes up for the added responsibility that comes with welcoming adding a furry child to your family. To ensure your pet’s health and happiness, following are
                            the necessities that all responsible pet owners need to provide.
                        </div>

                </spam>

                </div>
            </div>





</body>

</html>